In [2]:
import pandas as pd
import numpy as np

# Pandas Basics 3
Pandas data structures: Dataframes

### Crerating dataframes:

In [3]:
# empty dataframe

my_df = pd.DataFrame()
print(my_df)

Empty DataFrame
Columns: []
Index: []

#### Creating a dataframe from a list of lists

In [ ]:
scores = [['Mathematics', 85], ['English', 91], ['History', 95], ['Science'], ['',70]]

scores_df = pd.DataFrame(scores, columns=['Subject', 'Score']) # Passing the names of the columns

print(scores_df)

       Subject  Score
0  Mathematics   85.0
1      English   91.0
2      History   95.0
3      Science    NaN
4                70.0

#### Creating a dataframe from a dictionary

In [13]:
dict_scores = {
    'Subject': ["Mathematics", "History", "English", "Science", "Art"],
    'Score': [98,75,68,82,99]
}

scores_df_2 = pd.DataFrame(dict_scores)
print(scores_df_2)

       Subject  Score
0  Mathematics     98
1      History     75
2      English     68
3      Science     82
4          Art     99

#### Creating a dataframe from a list of dictionaries

In [16]:
list_of_dicts = [
    {'Subject':'Mathematics', 'Score': 85},
    {'Subject':'History', 'Score': 98},
    {'Subject':'English', 'Score': 85},
    {'Score': 52},
    {'Subject': 'Art'}
]

scores_df_3 = pd.DataFrame(list_of_dicts)
print(scores_df_3)

       Subject  Score
0  Mathematics   85.0
1      History   98.0
2      English   85.0
3          NaN   52.0
4          Art    NaN