In [1]:
import pandas as pd
import numpy as np

# Handling missing values

In [2]:
PATH_FILE = '/home/gustavo/Documents/Study/007_skills/000_data/titanic.csv'

df = pd.read_csv(PATH_FILE)

### Looking for missing values:

In [7]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
df.isnull().mean()

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

### Find out the median and mean values for all the non-missing values in the column

In [12]:
# This process is for the column: 'Age'

age_median = df.Age.median() # This code is the same as: age_median = df['Age'].median()
age_mean = df['Age'].mean()


print(age_median)
print(age_mean)

28.0
29.69911764705882

### Adding the coluns median age, and mean age to the dataframe