# Aggregating DataFrames

### Import library and dataset

In [1]:
# Import library
import pandas as pd

# Import data
DATA_PATH = '/home/gustavo/Documents/Study/007_skills/000_data/walmart_sales.csv'
dataset = pd.read_csv(DATA_PATH)

## Inspecting DataFrame

In [18]:
dataset.shape

(10774, 10)

## Summary statistics

methods for summarizing numerical data:
* .mean()
* .median()
* .mode()
* .min()
* .max()
* .var()
* .std()
* .sum()
* .quantile()

### mean, median and mode

In [2]:
# mean of a vector (column)

mws = dataset["weekly_sales"].mean()
print(round(mws, 2))

23843.95

In [3]:
# median of a vector (column)

mews = dataset["weekly_sales"].median()
print(round(mews, 2))

12049.06

In [4]:
# mode of a vector (column)

mows = dataset["weekly_sales"].mode()
print(round(mows, 2))

0    12.0
Name: weekly_sales, dtype: float64

### minimum and maximum

In [5]:
maxws = dataset["weekly_sales"].max()
print(maxws)

293966.05

In [6]:
minws = dataset["weekly_sales"].min()
print(minws)

-1098.0

### .var() - .std() - .sum() - .quantile()

In [7]:
vws = dataset['weekly_sales'].var()
print(round(vws, 2))

913271824.09

In [8]:
sws = dataset["weekly_sales"].std()
print(round(sws, 2))

30220.39

In [9]:
sumws = dataset["weekly_sales"].sum()
print(round(sumws, 2))

256894718.9

In [10]:
qws = dataset["weekly_sales"].quantile()
print(round(qws, 2))

12049.06

## Summarizing dates

In [11]:
# Max date - most recent date

print(dataset["date"].max())

2012-10-26

In [12]:
# Min date - older date

print(dataset["date"].min())

2010-02-05

## Efficient summaries

In [13]:
# A custom IQR function - This function is short for inter-quartile range, which is the 75th percentile minus the 25th percentile. It's an alternative to standard deviation that is helpful if your data contains outliers.

def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)


# Print IQR of the temperature_c column
iqr_1 = dataset["temperature_c"].agg(iqr)
print(round(iqr_1, 2))

16.58

In [14]:
# Update to print IQR of temperature_c, fuel_price_usd_per_l, & unemployment
iqr_2 = dataset[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg(iqr)
print(round(iqr_2, 2))

temperature_c           16.58
fuel_price_usd_per_l     0.07
unemployment             0.56
dtype: float64

In [15]:
# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
iqr_3 = dataset[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr, "median"])
print(round(iqr_3, 2))

        temperature_c  fuel_price_usd_per_l  unemployment
iqr             16.58                  0.07          0.56
median          16.97                  0.74          8.10

## Cumulative statistics
* .cumsum()
* .cummax()

In [20]:
dataset["cum_weekly_sales"] = dataset["weekly_sales"].cumsum()
dataset.head(5)

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment,cum_weekly_sales
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106,24924.50
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106,46752.40
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808,104010.83
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808,121424.77
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808,138982.86

## Dropping Duplicates

In [21]:
# Drop duplicate store/type
store_types = dataset.drop_duplicates(["store", "type"])
store_types.head(5)

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment,cum_weekly_sales
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106,24924.50
901,901,2,A,1,2010-02-05,35034.06,False,4.550000,0.679451,8.324,18863178.61
1798,1798,4,A,1,2010-02-05,38724.42,False,6.533333,0.686319,8.623,42653008.31
2699,2699,6,A,1,2010-02-05,25619.00,False,4.683333,0.679451,7.259,66180317.34
3593,3593,10,B,1,2010-02-05,40212.84,False,12.411111,0.782478,9.765,85470611.89

In [22]:
# Drop duplicate store/department
store_depts = dataset.drop_duplicates(["store", "department"])
store_depts.head(5)

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment,cum_weekly_sales
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106,24924.50
12,12,1,A,2,2010-02-05,50605.27,False,5.727778,0.679451,8.106,332506.33
24,24,1,A,3,2010-02-05,13740.12,False,5.727778,0.679451,8.106,864694.67
36,36,1,A,4,2010-02-05,39954.04,False,5.727778,0.679451,8.106,1045379.67
48,48,1,A,5,2010-02-05,32229.38,False,5.727778,0.679451,8.106,1498242.08

In [27]:
# Subseting the rows where 'is_holiday' is true and drop duplicate dates
holiday_dates = dataset[dataset["is_holiday"]].drop_duplicates("date")
holiday_dates

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment,cum_weekly_sales
498,498,1,A,45,2010-09-10,11.47,True,25.938889,0.677602,7.787,8.347957e+06
691,691,1,A,77,2011-11-25,1431.00,True,15.633333,0.854861,7.866,9.907847e+06
2315,2315,4,A,47,2010-02-12,498.00,True,-1.755556,0.679715,8.623,5.478512e+07
6735,6735,19,A,39,2012-09-07,13.41,True,22.333333,1.076766,8.193,1.670078e+08
6810,6810,19,A,47,2010-12-31,-449.00,True,-1.861111,0.881278,8.067,1.681095e+08
6815,6815,19,A,47,2012-02-10,15.00,True,0.338889,1.010723,7.943,1.681096e+08
6820,6820,19,A,48,2011-09-09,197.00,True,20.155556,1.038197,7.806,1.681105e+08

## Counting Categorial variables

In [37]:
store_counts = store_types["type"].value_counts()

store_counts

type
A    11
B     1
Name: count, dtype: int64

In [38]:
store_props = store_types["type"].value_counts(normalize=True)
store_props

type
A    0.916667
B    0.083333
Name: proportion, dtype: float64

In [36]:
dept_counts_sorted = store_depts["department"].value_counts()
dept_counts_sorted

department
1     12
2     12
3     12
4     12
5     12
      ..
37    10
48     8
50     6
39     4
43     2
Name: count, Length: 80, dtype: int64

In [39]:
dept_props_sorted = store_depts["department"].value_counts(normalize=True)
dept_counts_sorted

department
1     12
2     12
3     12
4     12
5     12
      ..
37    10
48     8
50     6
39     4
43     2
Name: count, Length: 80, dtype: int64